/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #c41414;
}

/* Container Styling */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* File and Confidence Input Styling */
input[type="file"],
input[type="number"] {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Button Styling */
button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #92d821;
}

#resetButton:hover {
    background-color: #0056b3;
}

/* Loading Indicator */
#loading {
    display: none;
    margin-top: 20px;
}

/* Image Wrapper Styling */
.image-wrapper {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
    cursor: grab;
}

/* Output Image Styling */
#outputImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform-origin: center;
    transition: transform 0.1s ease;
}
